.form {
  margin-top: 200px;
  margin-left: 300px;
  width: 70px;
  height: 20px;
}
.speech-bubble {
    position: absolute;
    background-color: rgb(151, 145, 145);
    width: 300px;
    height: 75px;
    color: rgb(8, 8, 8);
    text-align: center;
    border-radius: 10px;
    font-family: sans-serif;
    display: table;
    box-shadow: 1px 1px 1px #888;
  }
  .speech-bubble p {
    display: table-cell;
    vertical-align: middle;
  }

  .speech-bubble::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 12px solid;
  }

  .speech-bubble-bottom::before {
    border-color:#888 transparent transparent transparent;   
    top: 100%;
    left: 50%;
    margin-left: -15px;
    color: rgb(255, 255, 255);
  }

  .speech-bubble-text {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .speech-bubble::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
  }

  .speech-bubble-bottom::after {
    border-color: #fff transparent transparent transparent;   
    top: 100%;
    left: 51%;
    margin-left: -16px;
    color: rgb(255, 255, 255);
  }


